
<!-- Header section -->
<header class="header-section" style="position: relative; z-index: 1000;">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <div class="site-logo">
          <img src="/assets/FrontOffice/img/logo1.png" alt="">
        </div>
        <div class="nav-switch">
          <i class="fa fa-bars"></i>
        </div>
      </div>
      <div class="col-lg-9 col-md-9">
        <a href="" class="site-btn header-btn">Login</a>
        <nav class="main-menu">
          <ul>
            <li><a routerLink="/front" routerLinkActive="active">Home</a></li>

            <li><a href="#">About us</a></li>
            <li><a href="courses.html">Events</a></li>
           <li><a routerLink="/SessionFront" >Review Sessions</a></li>

           <li><a routerLink="/Ressource" >Ressource</a></li>
           <li><a routerLink="/frontoussama" >Study Groups</a></li>
            <li><a href="">Complaint</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- Header section end -->
<style>.main-menu ul li a {
  color: red;
}
.main-menu ul li a {
    color: red;
    font-size: 18px; /* Adjust the font size as needed */
  }
</style>
