<!-- Hero section -->
<!-- Favicon -->
<link href="img/favicon.ico" rel="shortcut icon"/>
<link rel="stylesheet" href="/assets/FrontOffice/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/assets/FrontOffice/css/font-awesome.min.css"/>
<link rel="stylesheet" href="/assets/FrontOffice/css/owl.carousel.css"/>
<link rel="stylesheet" href="/assets/FrontOffice/css/style.css"/>


<router-outlet></router-outlet>
<app-header></app-header>
<app-session></app-session>
<app-comment></app-comment>




<!-- signup section -->

<!-- signup section end -->


<!-- banner section -->
<section class="banner-section spad">
  <div class="container">
    <div class="section-title mb-0 pb-2">
      <h2>Join Our Community Now!</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
    </div>
    <div class="text-center pt-5">
      <a href="#" class="site-btn">Register Now</a>
    </div>
  </div>
</section>
<!-- banner section end -->
<app-footer></app-footer>
<script src="/assets/FrontOffice/js/jquery-3.2.1.min.js"></script>
	<script src="/assets/FrontOffice/js/bootstrap.min.js"></script>
	<script src="/assets/FrontOffice/js/mixitup.min.js"></script>
	<script src="/assets/FrontOffice/js/circle-progress.min.js"></script>
	<script src="/assets/FrontOffice/js/owl.carousel.min.js"></script>
	<script src="/assets/FrontOffice/js/main.js"></script>
